.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .search-input {
    width: 300px;
    margin-right: 15px;

    input {
      padding-right: 40px;
      /* Adjust the padding to create space for the button */
    }

    button {
      position: absolute;
      right: 8px;
      /* Adjust the button's position as desired */
      top: 50%;
      transform: translateY(-50%);
    }
  }
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 70vh;
  padding: 20px;

  .product-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

    .product-image {
      border-radius: 10px 10px 0 0;
      overflow: hidden;

      img {
        width: 180px;
        height: 200px;
        object-fit: cover;
        margin-left: 100px;
      }
    }

    .product-details {
      padding: 20px;

      .product-name {
        font-size: 20px;
        font-weight: bold;
        color: #108ee9;
        margin-bottom: 10px;
        cursor: pointer;
      }

      .product-description {
        margin-bottom: 10px;
      }

      .product-info {
        display: flex;
        flex-wrap: wrap;

        .info-row {
          flex: 0 0 50%;
          display: flex;
          align-items: center;
          margin-bottom: 8px;

          .info-label {
            font-weight: 10px;
            margin-right: 5px;
          }

          .info-value {
            font-weight: bold;
          }
        }
      }

      .actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;

        .update-button {
          margin-right: 10px;
        }
      }
    }
  }
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  /* Adjust the height to fit your design */

  span {
    font-size: 18px;
    color: #616161;
    /* Adjust the text color as needed */
    margin-top: 10px;
  }
}











// .home-container {
//     .hero-section {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       padding: 40px 20px;
//       background-color: rgba(255, 255, 255, 0.7);

//       .hero-content {
//         max-width: 600px;
//         margin-left: 100px;

//         h1 {
//           font-size: 2.5rem;
//           color: #333;
//           margin-bottom: 20px;
//         }

//         p {
//           font-size: 1.2rem;
//           color: #555;
//           margin-bottom: 20px;
//         }

//         .btn {
//           display: inline-block;
//           padding: 10px 20px;
//           font-size: 1rem;
//           text-decoration: none;
//           color: #fff;
//           background-color: #007bff;
//           border: none;
//           border-radius: 5px;
//           cursor: pointer;

//           &:hover {
//             background-color: #0056b3;
//           }
//         }
//       }

//       .hero-image {
//         flex: 1;

//         img {
//           width: 400px;
//           height: 400px;
//           margin-left: 200px;
//           border-radius: 40%;
//         }
//       }
//     }

//     .about-section {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       padding: 40px 20px;

//       .about-content {
//         max-width: 600px;

//         h2 {
//           font-size: 2rem;
//           color: #333;
//           margin-bottom: 20px;
//         }

//         p {
//           font-size: 1.2rem;
//           color: #555;
//           margin-bottom: 20px;
//         }

//         .btn {
//           display: inline-block;
//           padding: 10px 20px;
//           font-size: 1rem;
//           text-decoration: none;
//           color: #fff;
//           background-color: #007bff;
//           border: none;
//           border-radius: 5px;
//           cursor: pointer;

//           &:hover {
//             background-color: #0056b3;
//           }
//         }
//       }

//       .about-image {
//         flex: 1;

//         img {
//           width: 90%;
//           height: 400px;
//           border-radius: 20%;
//         }
//       }
//     }

//     .contact-section {
//       text-align: center;
//       padding: 60px 20px;
//       background-color: rgba(255, 255, 255, 0.7);

//       h2 {
//         font-size: 2rem;
//         color: #333;
//         margin-bottom: 20px;
//       }

//       p {
//         font-size: 1.2rem;
//         color: #555;
//         margin-bottom: 30px;
//       }

//       .contact-info {
//         display: flex;
//         justify-content: center;
//         gap: 20px;
//         margin-bottom: 20px;

//         .contact-item {
//           display: flex;
//           align-items: center;
//           font-size: 1.2rem;
//           color: #555;

//           mat-icon {
//             margin-right: 8px;
//             color: #007bff;
//           }
//         }
//       }

//       .btn {
//         display: inline-block;
//         padding: 12px 24px;
//         font-size: 1rem;
//         text-decoration: none;
//         color: #fff;
//         background-color: #007bff;
//         border: none;
//         border-radius: 5px;
//         cursor: pointer;

//         &:hover {
//           background-color: #0056b3;
//         }
//       }
//     }
//   }