<form [formGroup]="validateForm" class="form-container">
  <mat-card class="profile-card">

    <div class="profile-picture">
      <div class="avatar-wrapper">
        <img class="avatar" *ngIf="existingProfileImage" [src]="existingProfileImage" alt="profile" />
        <mat-icon class="avatar-icon" *ngIf="!existingProfileImage">account_circle</mat-icon>
      </div>
      <label for="upload-profile-image" class="edit-icon">
        <mat-icon>edit</mat-icon>
      </label>
    </div>

    <input type="file" id="upload-profile-image" accept="image/x-png,image/gif,image/jpeg"
      (change)="onFileSelected($event)" hidden>
  </mat-card>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>E-mail</mat-label>
    <input matInput type="email" placeholder="Email" formControlName="email">
    <mat-error *ngIf="validateForm.get('email')?.hasError('required')">This Input is Required!</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Name</mat-label>
    <input matInput type="text" placeholder="Name" formControlName="name">
    <mat-error *ngIf="validateForm.get('name')?.hasError('required')">This Input is Required!</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="!validateForm.valid" (click)="submitForm()">Save</button>

  <mat-card-actions>
    <button mat-button color="accent" routerLink="/customer/change_password">Want to change the password?</button>
  </mat-card-actions>
</form>