.navbar {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.navbar-brand {
    font-size: 40px;
    font-weight: 600;
    margin-right: 16px;
}

.navbar-b {
    margin-top: 28px;
}

.spacer {
    flex: 1;
}

button {
    color: white;
    text-transform: uppercase;
    margin-left: 8px;
}

button.active {
    font-weight: 600;
}

.custom-toolbar {
    background-color: #ff0000;
}